*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.main-nav{
   
    text-decoration: none;
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 2px solid #e9eafb;
}

.nav-menu-left{
 padding:5px;   
}

.nav-menu-left a{
    text-decoration: none;
    color: gray;
    font-size:x-large;
    padding: 5px;
    
}

.nav-menu-left a:hover{
    color:#5a5fe2;
}

.nav-menu-right{
    margin-left: 650px;
    float: left;
   
    padding:5px; 
}

.nav-menu-right a{
    text-decoration: none;
    color: gray;
    font-size:x-large;
    padding: 5px;
    
}

.nav-menu-rightw a:hover{
    color:#5a5fe2;
}

#patient-search{
    padding: 5px;
    display: inline-block;
}

#patient-search input{
    width: 200px;
    height: 30px;
    border-radius: 6rem;
}

.tabs{
    width: 100%;
    height:30px;
    border-bottom: 2px solid #e9eafb;
}

.main{
    background-color: #f1f1f1;
    height: calc(100vh - 119px);
    
   
}
/* .side-content{
    display:
} */

#patient-bar{
padding: 10px;
font-size: 20px;
background-color: transparent;
width: 10%;
display: inline-block;

}

.buttons{
    display: inline-block;
    margin-left:60%;
}

.buttons input,
span,
button,i{
    padding: 5px;
    margin:2px;
}

.buttons button{
    border-radius: 5px;
}

#save-btn{
    background-color: #5a5fe2;
    color: #f1f1f1;
}
.sideform{
    display:flex;
}
.sidebar{
    height: calc(100vh - 161px);
    /* display: inline-block; */
    width: 10%;
    display:inline-block;
    border: 1px solid gray;
    overflow-y: scroll;
    margin-left:10px;
    border-radius: 10px;
}
.sidebar a{
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 5px;
    color: gray;
}

.sidebar a:hover{
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    color: #5a5fe2;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:gray;
    border-radius: 10px;
  }

.mainform{
    width: 80%;
    height: calc(100vh - 161px);
    margin:20px;
    padding:10px;
}

.form1{
    margin:10px;
    padding:5px;
    display:flex;
    border: 1px solid gray;
    background-color: #ffffff;
    
}
.column{
    width:33.3%;
    padding:10px;
    justify-content: center;
}
#avatar{
    height: 100px;
    width: 100px;
    /* align-items: center; */
    border-radius: 5px;
    display: block;
    margin:auto;
}

#img-txt{
    text-align: center;
    margin: 4px;
   
}

.column label{
    display: inline-block;
    width: 150px;
    text-align: right;
    font-size: large;
}

.column input,
select{
    width: 200px;
    padding-left: 15px;
    margin:4px;
    border-radius: 4px;
    height: 25px;

}
#interpreter{
    height: 15px;
    width: 15px;
}

#selfpay{
    height: 15px;
    width: 15px;
}

#provider{
    height: 15px;
    width: 15px;
}

#prescription{
    height: 15px;
    width: 15px;
}