body{
    background-color: #f2f2f2;
    height:100%;
    padding: 0PX;
}

.nav-bar{
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    border-bottom: 0.5px solid black;
    
}

.nav-bar a {
    text-decoration: none;
    color : gray;
    padding : 5px;
}

.nav-bar a:hover{
    color:#9d32db;
}

.search{
    display:inline-block;
}

.search input{
    padding: 0px;
    margin: 0px;
    border-radius: 7px;
}
.nav-bar div {
   
    float:right;
}





.list{
    list-style: none;
}


.sidenav {
    height:90%;
    width: 200px; 
    position: fixed;
    top: 100px; 
    left: 0;
    overflow-y: scroll; 
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: #9d32db;
  }

.buttons{
    margin-top:20px;
    height: 60px;
    width:100%;
    top:100px;
    
    
}
.active{
    float:right;
    padding-right: 30px;
}


.details{
    width:auto;
    height:fit-content;
    margin-top: 100px;
    margin-left: 250px;
    
}
.details div{
    width:1200px;
    height:300px;
    background-color: aqua;
}

.profile{
    margin-left: 250px;
    height: fit-content;
    display:flex;
   border: 0.5px solid gray;
   border-radius: 10px;
   
}

#avatar{
    height: 100px;
    width: 100px;
    margin: 10px;
    margin-left: 50px;
    border-radius:  10px; ;

}
#patientid{
    margin: 10px;
    text-align: center;
}

.column1 input{
padding: 5px;
margin: 10px;

}


.column2 input{
    padding: 5px;
    margin: 10px;
    
    }

.column2 select{
      padding: 5px;
      margin: 10px;
        
}


.column3 select,
input{
    padding: 5px;
    margin: 10px;
      
}

.contact-details{
    margin-top: 20px;
    margin-left: 250px;
    height: fit-content;
    display:flex;
   border: 0.5px solid gray;
   border-radius: 10px;
   
}
